DB_HOST= database_host
DB_PORT= db_port
DB_NAME= fds_name
DB_USER= username
DB_PASSWORD= your_db_password
SECRET_KEY= your_super_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES= your_access_token
REFRESH_TOKEN_EXPIRE_DAYS= your_refresh_token